<header class="h-header w-full border-b border-base-300 flex items-center px-4 justify-between">
  <%= link_to "Odds Boards", root_path %>
  <label class="input input-secondary">
    <svg class="h-[1.5em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none" stroke="currentColor"><circle cx="11" cy="11" r="8"></circle><path d="m21 21-4.3-4.3"></path></g></svg>
    <input type="search" class="grow" placeholder="Search" />
    <kbd class="kbd kbd-sm">⌘</kbd>
    <kbd class="kbd kbd-sm">K</kbd>
  </label>
  <% if user_signed_in? %>
    <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-primary" %>
  <% else %>
    <%= link_to "Login", new_user_session_path, class: "btn btn-primary" %>
  <% end %>
</header>