<div 
  data-controller="turbo-frame-progress-bar"
  data-turbo-frame-progress-bar-target="progress"
  data-turbo-frame-progress-bar-transition-duration-value="500"
  data-action="turbo:before-fetch-request@document->turbo-frame-progress-bar#start
  turbo:frame-load@document->turbo-frame-progress-bar#finish
  turbo:frame-render@document->turbo-frame-progress-bar#finish"
  class="fixed top-0 left-0 h-[3px] z-9999 bg-secondary transition-all duration-500"
  style="width: 0%;">
</div>
