<div class="card">
  <div class="card-body">
    <div class="flex gap-1 items-center mb-2">
      <%= render_icon 'tags', class: 'size-6' %>
      <h3>Tags</h3>
    </div>
    <div class="flex flex-wrap gap-2" id="tags" data-testid="tags">
      <%= render 'tags/list', tags: @tags %>
    </div>
  </div>
</div>