<%# locals: (board:)  %>
  <div class="flex gap-2 items-center">
    <%= button_to load_edit_board_path(board), 
            class: 'btn btn-secondary btn-xs ', 
            data: { 
              turbo: true, 
              testid: "edit-board-#{board.id}-button",
              action: 'propagation#stop' 
            } do %>
      <%= render_icon 'pen-line', class: 'size-4' %>
      Edit
    <% end %>
    <%= button_to confirm_delete_board_path(board), 
            class: 'btn btn-error btn-xs',
            data: { 
              turbo: true, 
              testid: "delete-board-#{board.id}-button",
              action: 'propagation#stop'
            } do %>
      <%= render_icon 'trash', class: 'size-4' %>
      Delete
    <% end %>
  </div>