<div class="flex gap-4 container justify-center">
  <%= render 'sidebar' %>
  <div class="w-full sm:w-3/4 flex flex-col">
    <%= render 'menubar' %>
    <section id="board-form"></section>
    <section class="flex flex-col gap-4 mt-4" data-testid="boards" id="boards">
      <%= yield %>
    </section>
  </div>
</div>
<div class="mb-32"></div>
