<header class="menu-bar flex justify-between">
  <button class="btn btn-primary" popovertarget="popover-1" style="anchor-name:--anchor-1">
    Select
  </button>
  <ul class="dropdown menu w-52 rounded-box bg-base-100 shadow-sm" popover id="popover-1" style="position-anchor:--anchor-1">
    <li><a>Item 1</a></li>
    <li><a>Item 2</a></li>
  </ul>
  <%= link_to 'New board', new_board_path, class: 'btn btn-secondary', data: { turbo_frame: 'board-form-section' } %>
</header>