<%# locals: (avatar: ActiveStorage::Attached::One, class: String) %>
<% class_name = local_assigns[:class] %>
<div class="avatar">
  <div class="size-6 rounded-full outline <%= class_name %>">
    <% if avatar.attached? %>
      <%= image_tag avatar %>
    <% else %>
      <%= render_icon 'user-round' %>
    <% end %>
  </div>
</div>