<div class="card border">
  <div class="card-body">
    <div class="flex gap-1">
      <%= render_icon 'categories', class: 'size-6' %>
      <h4 class="card-title">Categories</h4>
    </div>
    <div class="flex flex-col gap-2" id="categories" data-testid="categories">
      <% unless @categories.nil? %>
        <%= render @categories %>
      <% end %>
    </div>
  </div>
</div>