<div class="card border">
  <div class="card-body">
    <div class="flex gap-1">
      <%= render_icon 'categories', class: 'size-6' %>
      <h4 class="card-title">Categories</h4>
    </div>
    <%= render @categories %>
  </div>
</div>